script_collections/decompiler/luadec*
script_collections/decompiler/unluac_*.jar
.nonsense
script_collections/encrypted/PB2_AlphaGGHacker_simplescript-v1_proprietary/*.lua
script_collections/encrypted/PB2_Hydra-WallHack/*.lua
