script_collections/decompiler/luadec5.1
script_collections/decompiler/luadec5.2
script_collections/decompiler/luadec5.3
script_collections/decompiler/unluac_*.jar
.nonsense
script_collections/encrypted/PB2_AlphaGGHacker_simplescript-v1_proprietary/PB2_AlphaGGHacker_simplescriptv1_proprietary.Assembly.lua
script_collections/encrypted/PB2_AlphaGGHacker_simplescript-v1_proprietary/PB2_AlphaGGHacker_simplescriptv1_proprietary.lua
script_collections/encrypted/PB2_Hydra-WallHack/PB2_HydraWH.dec.lua
script_collections/encrypted/PB2_Hydra-WallHack/PB2_HydraWH.asm.lua
script_collections/encrypted/PB2_Hydra-WallHack/PB2_HydraWH.reasmv2.lua
script_collections/encrypted/PB2_Hydra-WallHack/PB2_HydraWH.lua
